@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"); /*font-family: "Dancing Script", cursive;*/
@import url("https://fonts.googleapis.com/css?family=Roboto"); /*font-family: 'Roboto', sans-serif;*/

.action-data-main-container {
  margin: auto;
  font-family: "Dancing Script", cursive;
}

.action {
  border: 1px solid #eaeaea;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.action:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.action h2 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.action-details {
  padding-top: 20px;
}

.action-details p {
  margin: 0;
  color: #666;
  font-family: Arial, sans-serif;
}

.action-data-input-search {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
}

.action-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  overflow: hidden;
}

.action-header::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
}

.action-edit-button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.action-modifiers {
  position: relative;
  display: flex;
  align-items: center;
}

.action-modifiers h3 {
  flex-grow: 1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  background: linear-gradient(to bottom, #537948, transparent);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15),
    0 16px 16px rgba(0, 0, 0, 0.15);
}

.action-add-modifier-button {
  position: absolute;
  right: 0;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.modifier {
  border: 1px solid #eaeaea;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  position: relative;
}

.modifier:hover {
  background-color: #eaeaea;
}

.modifier h4 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.add-modifier-div {
  margin: 0;
}

.add-modifier-div h4 {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.select-modifier {
  width: 90%;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #333;
  flex: 1;
  padding: 0 0.5em;
  color: #333;
  background-color: #f8f8f8;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 0.65em auto;
  border-radius: 3px;
}

.select-modifier option {
  font-weight: normal;
}

.add-edit-main-container {
  margin:0;
}

.add-edit-main-container h2 {
  text-align:center;
}

.add-edit-action-input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-edit-action-input-field label {
  margin-bottom: 5px;
}

.add-edit-action-input-field input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
}

.add-edit-action-input-field textarea {
  width: 100%;
  height: 25%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #9e5454;
  font-size: 16px;
}

.add-edit-action-save-button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
}