@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin: 0 auto;
  max-width: 625px; /* Increased by 25% */
  transition: all 0.3s ease;
  color: #000;
}

.form-container:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: all 0.3s ease;
}

.form-row:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-label {
  flex: 0 0 75%;
  margin-right: 10px;
}

.form-control {
  flex: 1;
}

.form-control[type="checkbox"] {
  flex: none;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
