.edit-row-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  width: 100%;
}

.edit-row-input:focus {
  border-color: #aaa;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.id-input, .max-stack-input {
  width: 50%; /* Adjust this value to your liking */
}

.x-y-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  width: 100%;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 33px;
  padding-top: 19px;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 4px;
}

.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: #bbb;
}

.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: #2196F3;
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-td {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.relative-td {
  position: relative;
}

.x-y-td {
  width: 50px;
}