@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.inventory-service-main-container {
  width: 100%;
  max-width: 1700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  overflow-y: auto;
}

.inventory-inventory-component-container {
  padding: 5px;
  margin-bottom: 10px;
  width: 45%;
  height: 475px;
  margin: 5px;
  display: inline-table;
}

.inventory-inventory-default-button {
  width: 50px;
  height: 50px;
}

.inventory-inventory-nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 20px auto 0;
}

.inventory-inventory-previous-button,
.inventory-inventory-next-button {
  background: linear-gradient(90deg, #FF7F50 0%, #000000 100%);
  color: white;
  border: none;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.75);
  transition: all 0.3s ease;
}

.inventory-inventory-previous-button:hover,
.inventory-inventory-next-button:hover {
  box-shadow: 0px 14px 14px -7px rgba(0,0,0,0.75);
  transform: scale(1.05);
}

.inventory-inventory-previous-button:active,
.inventory-inventory-next-button:active {
  transform: scale(0.95);
}

.sketchy {
  padding: 30px;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
  
  &::before {
      content: '';
      border: 2px solid #353535;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.cf-label-underline {
  border-bottom: 1px solid black;
  text-align:left;
}

/* Inventory Action Section */
.inventory-action-component-container {
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #555;
}

.inventory-action-details {
  min-height: 50px;
}

.inventory-action-details h4 {
  font-family: "Dancing Script", cursive;
  margin-top:5px;
  margin-bottom:5px;
}

.inventory-action-details .line {
  content: "";
  left: 50%;
  top: 55px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
}

.inventory-action-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left:2px;
  height:75px;
}

.inventory-action-heading-container .left,
.inventory-action-heading-container .right {
  width: 50%;
  margin-bottom:30px;
}

.inventory-action-heading-container .center {
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}

.inventory-action-modifier-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Inventory Modifier Section */
.inventory-modifier-component {
  flex: 0 1 calc(50% - 10px);
  max-width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.inventory-modifier-component-container {
  flex: 1 0 calc(50% - 10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

.inventory-modifier-component-container h4 {
  position: relative;
  font-family: "Dancing Script", cursive;
}

.inventory-modifier-component-container .line {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55px;
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
}

.inventory-modifier-component-container .form-content {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory-modifier-expand-button {
  position: absolute;
  left: 0;
}

.inventory-modifier-component-container .button-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inventory-modifier-overwritten {
  background: linear-gradient(270deg, #ff9a9e, #fad0c4, #96fbc4);
  background-size: 200% 200%;
  animation: Gradient 30s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
